* text=auto eol=lf

*.gitattributes text eol=lf
*.gitignore text eol=lf
*.bat text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.sha256 text eol=lf

*.wav binary
*.mp3 binary
*.sqlite3 binary
